<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>考拉先生</title>
<meta name="keywords" content="个人博客" />
<meta name="description" content="" />
<link rel="stylesheet" href="/static/css/index.css"/>
<link rel="stylesheet" href="/static/css/style.css"/>
<script type="text/javascript" src="/static/js/jquery1.42.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.SuperSlide.2.1.1.js"></script>
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<![endif]-->
</head>

<body>
    <!--header start-->
    <div id="header">
      <h1>代码发布</h1>
      <p>外网生产环境代码更新</p>
    </div>
     <!--header end-->
    <!--nav-->
     <div id="nav">
      </div>
       <!--nav end-->
    <!--content start-->
    <div id="content">
         <!--left-->
          <div class="content_text">
		<form><a style="padding: 5px 10px; border: 1px solid rgb(204, 204, 204); border-radius: 10px; background: rgb(255, 0, 0) none repeat scroll 0% 0%; color: rgb(255, 255, 255);" href="hztx.html" >会展天下</a>
            <a style="padding: 5px 10px; border: 1px solid rgb(204, 204, 204); border-radius: 10px; background: rgb(255, 145, 0) none repeat scroll 0% 0%; color: rgb(255, 255, 255);" href="ecduose.html" >六榕鞋业前台</a>
        <a style="padding: 5px 10px; border: 1px solid rgb(204, 204, 204); border-radius: 10px; background: rgb(255, 145, 0) none repeat scroll 0% 0%; color: rgb(255, 255, 255);" href="ecduoseht.html" >六榕鞋业后台</a>

        <a style="padding: 5px 10px; border: 1px solid rgb(204, 204, 204); border-radius: 10px; background: rgb(255, 0, 0) none repeat scroll 0% 0%; color: rgb(255, 255, 255);" href="cl.html" >窗帘</a>
       <a style="padding: 5px 10px; border: 1px solid rgb(204, 204, 204); border-radius: 10px; background: rgb(255, 111, 0) none repeat scroll 0% 0%; color: rgb(255, 255, 255);" href="ecduo.html" >多商网前台</a>
        <a style="padding: 5px 10px; border: 1px solid rgb(204, 204, 204); border-radius: 10px; background: rgb(255, 111, 0) none repeat scroll 0% 0%; color: rgb(255, 255, 255);" href="ecduoht.html" >多商网后台</a>
        <a style="padding: 5px 10px; border: 1px solid rgb(204, 204, 204); border-radius: 10px; background: rgb(255, 0, 0) none repeat scroll 0% 0%; color: rgb(255, 255, 255);" href="tpsite.html" >新双模</a>
<a style="padding: 5px 10px; border: 1px solid rgb(204, 204, 204); border-radius: 10px; background: rgb(255, 0, 0) none repeat scroll 0% 0%; color: rgb(255, 255, 255);" href="loop.html" >回滚</a>
                <div class="clear"></div>
               </p>
               </dd>
               <div class="clear"></div>
             </dl>
            </div>

           <!--wz end-->
                             
           </div>
         </div>
         <!--left end-->
         <!--right-->
         <div class="right" id="c_right">
          <div class="s_about">
           </div>
           <!--end-->
         </div>
         <!--right end-->
         <div class="clear"></div>
    </div>

    <!--content end-->
    <!--footer start-->
    <!--footer end-->
    <script type="text/javascript">jQuery(".lanmubox").slide({easing:"easeOutBounce",delayTime:400});</script>
    <script  type="text/javascript" src="/static/js/nav.js"></script>
</body>
</html>
