<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>态势感知</title>
</head>
<body>
        <h1 align="center">故障起源感知系统</h1>
        <table border="8" width="1200px" height="700px" align="center" style="background-color:#a0c6e5" cellspacing="30" class="div2">
            <tr>
            <td bgcolor="#DODODO"><textarea style="height:300px; width:550px; position: absolute;top:110px; Left:113px;overflow:scroll " >7491 139.129.192.69
   3388 127.0.0.1
   2091 27.38.5.62
    706 58.246.102.141
    551 219.136.74.168
    490 113.67.146.232</textarea></td>
            <td bgcolor="#DODODO"><textarea style="height:300px; width:550px; position: absolute;top:110px; Left:691px;overflow:scroll " >2</textarea></td>
        </tr>
            <td bgcolor="#DODODO"><textarea style="height:300px; width:550px; position: absolute;top:445px; Left:113px;overflow:scroll " >3</textarea></td>
            <td bgcolor="#DODODO"><textarea style="height:300px; width:550px; position: absolute;top:445px; Left:691px;overflow:scroll " >4</textarea></td>
        </table>
        <div style="height:100px; width:100px; position: absolute;top: 93px; Left:310px" >前10访问URL</div>
        <div style="height:100px; width:100px; position: absolute;top: 93px; Left:870px" >前10访问IP</div>
        <div style="height:100px; width:100px; position: absolute;top: 420px; Left:310px" >连接状态</div>
        <div style="height:100px; width:100px; position: absolute;top: 420px; Left:870px" >PHP错误日志</div>
</body>
</html>
